<!DOCTYPE html>
<html>
<body>

<h1>Rhea Kaw</h1>
<p>in/rheakaw</p>
<p>57 Octavia Street </li>
  San Francisco, CA 94102</p>
<p>606-269-2091 </li>
  rck802@gmail.com</p>

  <h2>Professional Experience</h2>
  <h3>Inflection</h3>
  <h3>Redwood Shores, CA</h3>
  <p>Venture-backed e-commerce 
  <h4>Product Manager, IdentitySmart</h4>
  <h4>July 2012 - Present</h4>




</body>
</html>
