<!DOCTYPE html>
<html>
<body>

<h1>Corgis Rule!</h1>

<h2>They are the best.</h2>

<img src="http://2.bp.blogspot.com/-A0yaZzxgtBc/UJws_wEmmJI/AAAAAAAAFG0/vk-qwd64H6M/s400/Super+Corgi.jpg" alt="corgis rule">

<p>If you can't tell, I'm still learning hows to website.</p>

</body>
</html>
