<!DOCTYPE html>
<html>
<body>

<h1>Rhea Kaw</h1>

  <h2><a href="http://www.linkedin.com/in/rheakaw/" target="_blank">in/rheakaw</a></h2>

  <h2>57 Octavia Street</br>
      San Francisco, CA 94102</h2>

  <h2>606-269-2091</br>
      <a href="mailto:rck802@gmail.com">rck802@gmail.com</a></h2>

    <h3>PROFESSIONAL EXPERIENCE</h3>
      <h4>Inflection</h4>
      <h4>Redwood Shores, CA</h4>
        <p>Venture-backed e-commerce company leveraging public records to build subscription products for users;</br>
  IdentitySmart is the component focused on users’ identity protection and management</p>
      <h4><strong>Product Manager, IdentitySmart</strong></h4>
      <h4>July 2012 - Present</h4>
        <ul>
          <li>Product lead for IdentitySmart, an ID theft protection B2C service comprising <strong>15%</strong> of Inflection’s business</li>
          <li>Grew the product revenue <strong>92%</strong> from <strong>$4.4M to $8.5M in 2013</strong></li>
          <li>Developed product roadmap using competitive analysis, user research, and other data-driven analyses to create feature specifications; wireframes and prototypes for function; and interactive and visual design, resulting in <strong>100%+</strong> growth of product engagement across various metrics through onboarding experience</li>
          <li>Continuously collaborate with designers and developers using agile scrum methodology</li>
          <li>Implement new features requiring custom third party API integration</li>
          <li>Manage full product life cycle by defining technical and visual requirements, project managing progress and implementation during release cycle, ensuring quality assurance, performing post-release analyses and sending weekly performance reports to the rest of the company</li>
          <li>Lead bi-weekly meeting with CEO, Director of Product, Lead Architect, design and marketing teams focused on identifying and solving pain points, and optimizing the product</li>
        </ul>

      <h4>SEO Associate</h4>
      <h4>March 2011 - July 2012</h4>
        <ul>
          <li>Developed SEO strategy and successfully optimized web properties for search engines</li>
          <li>Grew organic traffic roughly <strong>60%</strong> QoQ, increasing organic revenue from <strong>$120k/year to $850/year</strong> within one year</li>
          <li>Devised targeted head- and tail-term campaigns; achieved first-page placements for various terms in Google search engine, raising average rank from <strong>25 to 8</strong></li>
          <li>Increased social media presence <strong>15X</strong> to <strong>30,000+</strong> followers through targeted Facebook advertising</li>
        </ul>

      <h4>Link-Building Specialist</h4>
      <h4>August 2010 - March 2011</h4>
        <ul>
          <li>Spearheaded link-building efforts, leading a 3-person team focused on white-hat strategies</li>
          <li>Created link-building content, devising and automating outreach strategies; received <strong>~20</strong> high-quality <strong>(PR3+)</strong> links per campaign
          <li>Created roadmap, set goals, and project managed content development and outreach process for team</li>
          <li>Devised weighted average rank system to measure and analyze success</li>
        </ul>

    <h3>EDUCATION</h3>
      <h4>DUKE UNIVERSITY</h4>
      <h4>Durham, NC</h4>
      <h4><strong>Bachelor of Science, Psychology</strong></h4>
      <h4>August 2006 - May 2010</h4>
        <ul>
          <li>Minor: <i>Chinese</i>; Certificate: <i>Markets & Management Studies</i></li>
          <li>GPA: 3.4/4.0; ACT: 33/36</li>
          <li>Dean's List, Fall 2009</li>
        </ul>

      <h4>EAST CHINA NORMAL UNIVERSITY</h4>
      <h4>Shanghai, China</h4>
      <h4><strong>Chinese Language, Business Issues Summer Intensive</strong></h4>
      <h4>June 2008 - August 2008</h4>

    <h3>ADDITIONAL</h3>
      <p><strong>Skills and Lanaguages:</strong> Project management, agile methodologies, SCRUM, some Adobe CS, Asana, Axure, Balsamiq, Google Analytics & Webmaster Tools; HTML, familiar with CSS, JS and MySQL; Mandarin (intermediate), Spanish (intermediate)</p>
      <p><strong>Interests:</strong> Duke basketball, cooking delicious food, fitness and nutrition (i.e. working off said delicious food), international travel, dance, TeamTreehouse</p>
</br>
<p><a href="http://rheakaw.is">Home</a></p>

</body>
</html>
